/* .singleProject {
  box-shadow: 4px 4px 8px rgba(36, 3, 3, 0.2);
  width: 304px;
  height: 360px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 2rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.projectContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.projectContent > h2 {
  font-family: var(--primaryFont);
  font-style: normal;
  font-weight: 600;
  font-size: 1.525rem;
  line-height: 110%;
  text-align: center;
}

.projectContent > img {
  width: 100%;
  height: 50%;
  transition: opacity 0.7s 0.3s;
  border-radius: 10px;
}

.singleProject:hover img {
  opacity: 0;
}

.project--showcaseBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.project--showcaseBtn > a {
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.5s 0.3s;
}

.singleProject:hover .project--showcaseBtn a:nth-child(2) {
  transform: translateX(-140px) scale(1.1) !important;
}

.singleProject .project--desc {
  position: absolute;
  width: 95%;
  height: 160px;
  left: 0;
  top: 0;
  transform: translate(-110%, 40%);
  padding: 15px;
  border-radius: 0 20px 20px 0;
  transition: transform 0.9s;
  line-height: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--primaryFont);
}

.singleProject:hover .project--desc {
  transform: translate(-2%, 40%);
}

.singleProject .project--lang {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 140px;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
  border-radius: 10px 0 0 10px;
  transform: translateX(100%);
  transition: transform 0.5s 0.3s;
  padding: 0.825rem;
}

.singleProject:hover .project--lang {
  transform: translateX(0);
}

.project--lang > span {
  font-family: var(--primaryFont);
  font-weight: 500;
  word-break: break-word;
  line-height: 100%;
} */
.singleProject {
  box-shadow: 4px 4px 8px rgba(36, 3, 3, 0.2);
  width: 800px;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 1.4rem 2rem;
  gap: 20px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.singleProject:hover {
  box-shadow: rgba(223, 223, 233, 0.1) 0px 8px 24px,
    rgba(223, 223, 233, 0.1) 0px 16px 56px,
    rgba(223, 223, 233, 0.1) 0px 24px 80px;
}

.projectContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
}
.singleProject > div {
  display: flex;
  width: 100%;
}
.singleProject > div > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 90%;
}
.singleProject > div > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 90%;
}
.projectContent > h2 {
  font-family: var(--primaryFont);
  font-style: normal;
  font-weight: 600;
  font-size: 1.525rem;
  line-height: 110%;
  text-align: center;
}

.projectContent > img {
  width: 100%;

  border-radius: 10px;
}

.project--showcaseBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.project--showcaseBtn > a {
  cursor: pointer;
  text-decoration: none;
}

.singleProject .project--desc {
  margin-top: -10px;
  align-items: center;
  justify-content: center;
  font-family: var(--primaryFont);
  color: white !important;
}
.project--desc > li {
  font-size: 15px;
}
.singleProject .project--lang {
  width: 100%;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.825rem;
  background-color: transparent;
}
.singleProject .project--lang > img {
  width: 30px;
  height: 40px;
}

@media (min-width: 992px) and (max-width: 1380px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 800px) {
  .singleProject {
    box-shadow: 4px 4px 8px rgba(36, 3, 3, 0.2);
    width: 350px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 1.4rem 2rem;
    gap: 20px;
    cursor: pointer;
    overflow: hidden;
  }
  .ProjectMiddle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .ProjectMiddle > div {
    height: auto;
    margin: 10px;
  }
  li {
    margin-left: -18px;
  }
}

@media screen and (max-width: 600px) {
  .singleProject {
    box-shadow: 4px 4px 8px rgba(36, 3, 3, 0.2);
    width: 350px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 1.4rem 2rem;
    gap: 20px;
    cursor: pointer;
    overflow: hidden;
  }
  .ProjectMiddle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .ProjectMiddle > div {
    height: auto;
    margin: 10px;
  }
  li {
    margin-left: -18px;
  }
}

@media screen and (max-width: 400px) {
  .ProjectMiddle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
}

@media only screen and (device-width: 768px) {
}
